.hero {
  padding: 98px 16px 88px;
  text-align: center;

  &__imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      margin-bottom: 120px;
    }
  }

  &__img {
    height: 96px;
    width: 96px;
    box-sizing: content-box;
    border: 16px solid $blueLightest;
    border-radius: 50%;
    text-align: center;

    @media (min-width: $tablet) {
      height: 120px;
      width: 120px;
      border: 16px solid $blueLightest;
    }

    @media (min-width: $laptop) {
      height: 144px;
      width: 144px;
      border: 24px solid $blueLightest;
    }
  }

  &__bubble {
    position: absolute;
    left: calc(50% + 64px);
    top: -32px;

    @media (min-width: $laptop) {
      left: calc(50% + 80px);
      top: -48px;
    }
  }

  &__hello {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      position: relative;
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
      color: $white;
      padding: 8px 16px;
      background-color: $blue;
      border-radius: 16px;
      &:after {
        display: block;
        position: absolute;
        top: 100%;
        left: 32px;
        content: "";
        background: url("../assets/img/speech_cloud.svg");
        width: 17.42px;
        height: 22.66px;
      }
    }

    @media (min-width: $laptop) {
      font-size: 32px;
      line-height: 40px;
      padding: 16px 19px;
    }
  }

  &__wrapper {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet) {
      &::before {
        content: "";
        display: block;
        height: 256px;
        width: 128px;
        margin-right: 8px;
        background: url("../assets/img/decoration_left.svg") center no-repeat;
      }
      &::after {
        content: "";
        display: block;
        height: 256px;
        width: 128px;
        margin-left: 8px;
        background: url("../assets/img/decoration_right.svg") center no-repeat;
      }
    }
  }

  &__box {
    @media (min-width: $tablet) {
      max-width: 512px;
    }

    @media (min-width: $laptop) {
      max-width: 768px;
    }
  }

  &__header {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: $textDark;
    margin: 16px 0;

    @media (min-width: $mobileL) {
      margin: 32px 0;
    }

    @media (min-width: $laptop) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__specjal {
    color: $blue;
    white-space: nowrap;
  }

  &__link {
    text-decoration: underline $textLink;
    color: $textLink;
    white-space: nowrap;
  }

  &__descryption {
    margin: 0;
    color: $textDefault;
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 48px;

    @media (min-width: $laptop) {
      font-size: 20px;
      line-height: 40px;
    }
  }

  &__button {
    display: inline-block;
    font-family: Nunito;
    font-size: 20px;
    line-height: 40px;

    padding: 4px 24px;
    border-radius: 64px;
    color: $white;
    font-weight: bold;
    background-color: $textLink;
    text-decoration: none;

    @media (min-width: $mobileM) {
      margin: 16px auto 32px;
    }

    @media (min-width: $tablet) {
      margin: 64px auto 32px;
    }
  }
}
