.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    height: 96px;
    width: 96px;
    border: 16px solid $blueLightest;
    border-radius: 50%;
    text-align: center;

    @media (min-width: $tablet) {
      border: 16px solid $blueLightest;
    }
  }

  &__wrapper {
    margin: 48px 16px 16px;
    text-align: center;
    display: flex;

    @media (min-width: $mobileM) {
      margin: 80px 16px 16px;
    }

    @media (min-width: $mobileL) {
      margin: 96px 16px 16px;
    }

    @media (min-width: $tablet) {
      margin: 160px 16px 16px;
      &::before {
        content: "";
        display: block;
        height: 256px;
        width: 128px;
        margin-right: 16px;
        background: url("../assets/img/decoration_left.svg") center no-repeat;
      }
      &::after {
        content: "";
        display: block;
        height: 256px;
        width: 128px;
        margin-left: 16px;
        background: url("../assets/img/decoration_right.svg") center no-repeat;
      }
    }
  }

  &__box {
    @media (min-width: $tablet) {
      max-width: 512px;
    }

    @media (min-width: $laptop) {
      max-width: 768px;
    }
  }

  &__header {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: $textDark;
  }

  &__span {
    color: $blue;
  }

  &__descryption {
    color: $textDefault;
    line-height: 32px;

    @media (min-width: $mobileM) {
      margin-bottom: 32px;
    }

    @media (min-width: $mobileL) {
      margin-bottom: 64px;
    }

    @media (min-width: $tablet) {
      margin-bottom: 128px;
    }
  }
}

.button {
  font-size: 20px;
  line-height: 40px;

  padding: 4px 24px;
  border-radius: 64px;
  color: $white;
  font-weight: bold;
  background-color: $textLink;
  text-decoration: none;
}
